.results {
    padding: 200px 0 150px;
    background-color: #F3F7F4;

    &__title {
        font-family: 'Times New Roman', sans-serif;
        font-size: toRem(60);
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 75px;
    }

    &__items {
        display: flex;
        justify-content: space-between;

        @include a (tablet) {
            flex-direction: column;
            align-items: center;
            gap: 50px;
        }
    }

    &__item {
        max-width: 220px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 19px;

        &-num {
            font-size: toRem(60);
        }

        &-descr {
            line-height: 24px;
            text-align: center;
            color: $medium-color;
        }
    }
}