@font-face {
    font-family: 'Times New Roman';
    src: url('/src/assets/fonts/TimesNewRomanPSMT.woff2') format('woff2'),
        url('/src/assets/fonts/TimesNewRomanPSMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('/src/assets/fonts/ArialMT.woff2') format('woff2'),
        url('/src/assets/fonts/ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

